<div class="left">
    {% if title == "accueil" %}
        <div class="mag"><a href="/">Accueil</a></div>
        <div><a href="/affichermagasin">Magasin</a></div>
        <div><a href="/afficherproduit">Produit</a></div>
        <div><a href="/affichervente">Vente</a></div>
        <div><a href="/afficherstock">Stock</a></div>
        <div><a href="/deconnexion">Déconnexion</a></div>
    {% elif title == "Magasins" %}
        <div><a href="/">Accueil</a></div>
        <div class="mag"><a href="/affichermagasin">Magasin</a></div>
        <div><a href="/afficherproduit">Produit</a></div>
        <div><a href="/affichervente">Vente</a></div>
        <div><a href="/afficherstock">Stock</a></div>
        <div><a href="/deconnexion">Déconnexion</a></div>
    {% elif title == "Produits" %}
        <div><a href="/">Accueil</a></div>
        <div><a href="/affichermagasin">Magasin</a></div>
        <div class="mag"><a href="/afficherproduit">Produit</a></div>
        <div><a href="/affichervente">Vente</a></div>
        <div><a href="/afficherstock">Stock</a></div>
        <div><a href="/deconnexion">Déconnexion</a></div>
    {% elif title == "Vente" %}
        <div><a href="/">Accueil</a></div>
        <div><a href="/affichermagasin">Magasin</a></div>
        <div><a href="/afficherproduit">Produit</a></div>
        <div class="mag"><a href="/affichervente">Vente</a></div>
        <div><a href="/afficherstock">Stock</a></div>
        <div><a href="/deconnexion">Déconnexion</a></div>
    {% elif title == "Stock" %}
        <div><a href="/">Accueil</a></div>
        <div><a href="/affichermagasin">Magasin</a></div>
        <div><a href="/afficherproduit">Produit</a></div>
        <div><a href="/affichervente">Vente</a></div>
        <div class="mag"><a href="/afficherstock">Stock</a></div>
        <div><a href="/deconnexion">Déconnexion</a></div>
    {% else %}
        <div><a href="/">Accueil</a></div>
        <div ><a href="/affichermagasin">Magasin</a></div>
        <div><a href="/afficherproduit">Produit</a></div>
        <div><a href="/affichervente">Vente</a></div>
        <div><a href="/afficherstock">Stock</a></div>
        <div class="mag"><a href="/deconnexion">Déconnexion</a></div>
    {% endif %}
</div>