<div class="left">
    {% if title == "accueil" %}
        <div class="mag"><a href="/accueil">Accueil</a></div>
        <div><a href="/magasin">Magasin</a></div>
        <div><a href="/produit">Produit</a></div>
        <div><a href="#">Vente</a></div>
        <div><a href="#">Stock</a></div>
        <div><a href="/">Déconnexion</a></div>
    {% elif title == "Magasins" %}
        <div><a href="/home">Accueil</a></div>
        <div class="mag"><a href="/magasin">Magasin</a></div>
        <div><a href="/produit">Produit</a></div>
        <div><a href="#">Vente</a></div>
        <div><a href="#">Stock</a></div>
        <div><a href="/">Déconnexion</a></div>
    {% elif title == "Produits" %}
        <div><a href="/home">Accueil</a></div>
        <div><a href="/magasin">Magasin</a></div>
        <div class="mag"><a href="/produit">Produit</a></div>
        <div><a href="#">Vente</a></div>
        <div><a href="#">Stock</a></div>
        <div><a href="/">Déconnexion</a></div>
    {% elif title == "Vente" %}
        <div><a href="/home">Accueil</a></div>
        <div><a href="/magasin">Magasin</a></div>
        <div><a href="/produit">Produit</a></div>
        <div class="mag"><a href="#">Vente</a></div>
        <div><a href="#">Stock</a></div>
        <div><a href="/">Déconnexion</a></div>
    {% elif title == "Stock" %}
        <div><a href="/home">Accueil</a></div>
        <div><a href="/magasin">Magasin</a></div>
        <div><a href="/produit">Produit</a></div>
        <div><a href="#">Vente</a></div>
        <div class="mag"><a href="#">Stock</a></div>
        <div><a href="/">Déconnexion</a></div>
    {% else %}
        <div><a href="/home">Accueil</a></div>
        <div ><a href="/magasin">Magasin</a></div>
        <div><a href="/produit">Produit</a></div>
        <div><a href="#">Vente</a></div>
        <div><a href="#">Stock</a></div>
        <div class="mag"><a href="/">Déconnexion</a></div>
    {% endif %}
</div>