<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/initialize.css">
    <link rel="stylesheet" href="static/style.css">
    <title>Login</title>
</head>
<body>
    <section class="first">
        <div class="zoro-center">Zoro</div>

        <div class="grey">
            <form action="/accueil" class="sign_in">
                <h6>Connectez-vous</h6>
                <input class="btn1" placeholder="Identifiant">
                <input class="btn2" placeholder="Mot de passe">
                <button type="submit" class="btn3">Connexion</button>
                <a href="">si pas de compte, inscrivez-vous</a>
            </form>
        </div>
    </section>
</body>
</html>